@font-face {
    font-family: "RexBold";
    src: url("../../fonts/Rex_Bold.ttf") format("truetype");
}

.teams-list-container{
    width:100%;
    padding:1rem 2rem;
    box-sizing: border-box;
    /* overflow-x: auto;
    overflow-y: hidden; */

}

.hr{
    width:100%;
    background-color:#AA8EFF;
    height:3px;
    margin-bottom: 1rem;
    border-radius: 2px;
}

.heading{
    padding:0 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'RexBold', sans-serif;
    color:#00467B;
}

.teams-list-scroll{
    width:98%;
    overflow-x: auto;
    padding:1rem;
    display: flex;
    gap:3rem;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    margin: 1.5rem 0rem;
}