@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Raleway&display=swap");
body {
  width: 100%;
}

main {
  position: relative;
  width: 100%;
}

.main {
  background-color: #caf2f4 !important;
  margin: 0;
  padding: 0;
}

.bg-img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit:cover !important;
}
::-webkit-scrollbar {
  width: 0;
}
